* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  background: blue;
}

.header__container {
  color: white;
  font-size: 24px;
  width: 1060px;
  margin: 0px auto;
}

.main {
  background: #ffffff;
}

.main__container {
  color: white;
  height: 500px;
  width: 1060px;
  margin: 0px auto;
  background: rgb(69, 171, 240);
  display: flex;
  flex-direction: row;
}

.contacts {
  height: 500px;
  width: 400px;
  border: 1px solid gray;
}

.contacts__item {
  height: 100px;
  width: 400px;
  background: #ffffff;
  border: 1px solid black;
}

.conversation {
  height: 500px;
  width: 660px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column-reverse;
}

.conversation__item {
  width: 660px;
  height: 50px;
  color: black;
  background: #ffffff;
  font-size: 15px;
  border: 1px solid black;
}

.footer__conteiner {
  height: 50px;
  width: 1060px;
  margin: 0px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.new-message__form {
  width: 400px;
  border: 1px solid black;
}

.chat__form {
  width: 660px;
  border: 1px solid black;
}

.chat__form input {
  width: 90%;
  height: 70%;
  margin: 5px;
  color: #333;
}
