* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background:linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
  zoom: 95%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 1060px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #ffffff;
}

.contacts-section{
  height: 700px;
  width: 400px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; 
  background-color: #246fa8;
}

.search-contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid #ffffff;
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow-y: scroll;
}

#contact-item {
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff
}

.add-contact-section {
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 20px;
  border-top: 2px solid #ffffff;
}

.add-contact-button{
  padding: 10px;
  border-radius: 100%;
  font-size: 24px;
  text-decoration: none;
  color: #246fa8;
  background-color: #ffffff;
}

.conversation-section{
  display: flex;
  flex-direction: column;
  width: 660px;
}

.user-section {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 height: 50px;
 border-top-right-radius: 30px;
 border-bottom: 2px solid #ffffff;
 color: #ffffff;
 background-color: #57c1eb ;
}

.conversation-message-list{
  display: flex;
  flex-direction: column-reverse;
  height: 550px;
}

.message-item {
  font-size: 16px;
  color: #ffffff;
  height: 50px;
  background-color: #246fa8;
}

.conversation-form{
  display: flex;
  align-items: center;
  height: 100px;
  padding: 15px;
  border-top: 2px solid #ffffff;
  border-bottom-right-radius: 30px;
  background-color:#57c1eb ;
}

.conversation-form input {
  height: 25px;
  width: 100%;
}

